.serverless
.esbuild
.idea
node_modules
.env
.env.*
!.env.example
.deploy/
*.log
.vscode/settings.json

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Client build output
packages/client/dist
packages/client/dist-ssr
